{% extends "blog/base.html" %}

{% block content %}
    <main>
        <section class="py-5 text-center container" style="border:1px solid #e9a30c">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">The Story of Jazz Music</h1>
                <p class="lead text-muted">Take a relaxing journey through the story of one of the greatest contributions to music history the US has ever made.</p>
                <p>
                  <a href="#" class="btn btn-primary my-2">Explore</a>
                </p>
              </div>
            </div>
          </section>
    </main>

{% endblock content %}